app-current-search {
  .background {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
  }

  .modal {
    background-color: #fff;
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 85%;
    height: 40%;
    text-align: left;
    overflow: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-radius: 5px;
  }

  .modal-content {
    padding: 1rem;
    margin: 0;
    max-height: 70vh;
    overflow: auto;
  }

  .modal-footer {
    margin: 0 auto;
    width: 95%;
  }
}
